/* THEMES */

body[data-theme='theme-light'] {
    --frame_vh: 4vh;
    --frame_vw: 4vw;

    --linebreak: 1rem;
    --opac: 0.5;

    --background: #FFFFFF;
    --foreground: #1C1C1C;

    --primary: #336699;
    --secondary: #C0C0C0;

    --headline: 'Raleway', sans-serif;
    --textline: 'Open Sans', sans-serif;
}

body[data-theme='theme-dark'] {
    --frame_vh: 4vh;
    --frame_vw: 4vw;

    --linebreak: 1rem;
    --opac: 0.5;

    --background: #1C1C1C;
    --foreground: #FFFFFF;

    --primary: #DBA111;
    --secondary: #3B4043;

    --headline: 'Raleway', sans-serif;
    --textline: 'Open Sans', sans-serif;
}

/* TAGS */

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;

    background-color: var(--background);
    color: var(--foreground);
}

nav {
    width: 100vw;
    z-index: 333;
    background-color: var(--background);
    color: var(--foreground);
}

header {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;

    background-color: var(--background);
    color: var(--foreground);
}

footer {
    width: 100%;

    background-color: var(--background);
    color: var(--foreground);
}

/* FONTS */

body {
    line-height: 150%;
    font-family: var(--textline);
}

/* smartphone */

@media screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }
}

/* tablet vertical */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 18px;
    }
}

/* tablet horizontal */

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    body {
        font-size: 18px;
    }
}

/* desktop */

@media screen and (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}

/* large desktop */

@media screen and (min-width: 1920px) {
    body {
        font-size: 20px;
    }
}

h1 {
    font-size: 2.2rem;
    font-family: var(--headline);
    background-color: var(--primary);
    color: var(--background);
}

h2 {
    font-size: 2.0rem;
    margin-bottom: 4.0rem;
    font-family: var(--headline);
    text-transform: uppercase;
    color: var(--primary);
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
    font-family: var(--headline);
    text-transform: uppercase;
    color: var(--primary);
}

h4 {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    font-family: var(--headline);
    text-transform: uppercase;
    color: var(--primary);
}

h5 {
    font-size: 1.4rem;
    margin-bottom: 1.4rem;
    font-family: var(--headline);
    text-transform: uppercase;
    color: var(--primary);
}

h6 {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    font-family: var(--headline);
    text-transform: uppercase;
    color: var(--primary);
}

/* CUSTOMS */

/* smartphone */

@media screen and (max-width: 767px) {
    #hamburger {
        visibility: visible;
        display: block;
        cursor: pointer;
        z-index: 222;
    }

    #hamburger span {
        width: 45px;
        height: 5px;
        background-color: var(--foreground);
        display: block;
        margin: 8px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    #hamburger.open-menu span:nth-child(2) {
        opacity: 0;
    }

    #hamburger.open-menu span:nth-child(1) {
        -webkit-transform: translateY(13px) rotate(45deg);
        -ms-transform: translateY(13px) rotate(45deg);
        -o-transform: translateY(13px) rotate(45deg);
        transform: translateY(13px) rotate(45deg);
    }

    #hamburger.open-menu span:nth-child(3) {
        -webkit-transform: translateY(-13px) rotate(-45deg);
        -ms-transform: translateY(-13px) rotate(-45deg);
        -o-transform: translateY(-13px) rotate(-45deg);
        transform: translateY(-13px) rotate(-45deg);
    }

    #menu {
        display: block;
        z-index: 111;
        position: absolute;
        top: 0;
        left: -100vw;
        width: 100vw;
        min-height: 100vh;
        transition: all ease-in-out 300ms;
        background-color: var(--background);
        margin-top: calc(4vh + 47px);
    }

    #menu.open-menu {
        left: 0;
    }

    #menu a {
        display: block;
        width: 100%;
        font-size: 2.0rem;
        padding: calc(var(--frame_vh)/2) calc(var(--frame_vw)*2);
        border-top: 1px solid var(--foreground);
    }

    #menu button {
        display: block;
        width: 100%;
        font-size: 2.0rem;
        padding: calc(var(--frame_vh)/2) calc(var(--frame_vw)*2);
        border-top: 1px solid var(--foreground);
        border-bottom: 1px solid var(--foreground);
    }

    #menu a:hover {
        color: var(--primary);
    }

    #menu i {
        width: 50px;
    }

    .timeframe {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "left"
            "right";

        position: relative;
    }

    .left {
        grid-area: left;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        gap: var(--frame_vh) var(--frame_vw);
        z-index: 22;
    }

    .right {
        grid-area: right;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        gap: var(--frame_vh) var(--frame_vw);
        z-index: 22;
    }

    .date {
        width: 60px;
        height: 60px;
        min-width: 60px;
        min-height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary);
        color: var(--background);
    }

    .border {
        position: absolute;
        height: 100%;
        width: 10px;
        top: 0;
        left: 22.5px;
        z-index: 11;
        background: var(--primary);
    }

    .content {
        padding: calc(var(--frame_vh)/2) var(--frame_vw);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nogrey .content {
        background-color: var(--secondary);
    }

    .grey .content {
        background-color: var(--background);
    }

    section {
        padding: calc(var(--frame_vh)*2) calc(var(--frame_vw)*2);
    }

    nav {
        padding: calc(var(--frame_vh)/2) calc(var(--frame_vw)*2);
        border-bottom: 1px solid var(--secondary);
    }

    footer {
        padding: calc(var(--frame_vh)/2) calc(var(--frame_vw)*2);
    }

    .box {
        background-color: var(--secondary);
        box-shadow: 0 8px 6px -6px var(--se);
        padding: calc(var(--frame_vh)/2) var(--frame_vw);
        margin-bottom: calc(var(--frame_vh)/2);
    }
}

/* tablet vertical */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #hamburger {
        visibility: visible;
        display: block;
        cursor: pointer;
        z-index: 222;
    }

    #hamburger span {
        width: 45px;
        height: 5px;
        background-color: var(--foreground);
        display: block;
        margin: 8px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    #hamburger.open-menu span:nth-child(2) {
        opacity: 0;
    }

    #hamburger.open-menu span:nth-child(1) {
        -webkit-transform: translateY(13px) rotate(45deg);
        -ms-transform: translateY(13px) rotate(45deg);
        -o-transform: translateY(13px) rotate(45deg);
        transform: translateY(13px) rotate(45deg);
    }

    #hamburger.open-menu span:nth-child(3) {
        -webkit-transform: translateY(-13px) rotate(-45deg);
        -ms-transform: translateY(-13px) rotate(-45deg);
        -o-transform: translateY(-13px) rotate(-45deg);
        transform: translateY(-13px) rotate(-45deg);
    }

    #menu {
        display: block;
        z-index: 111;
        position: absolute;
        top: 0;
        left: -100vw;
        width: 100vw;
        min-height: 100vh;
        transition: all ease-in-out 300ms;
        background-color: var(--background);
        margin-top: calc(4vh + 47px);
    }

    #menu.open-menu {
        left: 0;
    }

    #menu a {
        display: block;
        width: 100%;
        font-size: 2.0rem;
        padding: calc(var(--frame_vh)/2) calc(var(--frame_vw)*2);
        border-top: 1px solid var(--foreground);
    }

    #menu button {
        display: block;
        width: 100%;
        font-size: 2.0rem;
        padding: calc(var(--frame_vh)/2) calc(var(--frame_vw)*2);
        border-top: 1px solid var(--foreground);
        border-bottom: 1px solid var(--foreground);
    }

    #menu a:hover {
        color: var(--primary);
    }

    #menu i {
        width: 75px;
    }

    .timeframe {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "left"
            "right";

        position: relative;
    }

    .left {
        grid-area: left;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        gap: var(--frame_vh) var(--frame_vw);
        z-index: 22;
    }

    .right {
        grid-area: right;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        gap: var(--frame_vh) var(--frame_vw);
        z-index: 22;
    }

    .date {
        width: 60px;
        height: 60px;
        min-width: 60px;
        min-height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary);
        color: var(--background);
    }

    .border {
        position: absolute;
        height: 100%;
        width: 10px;
        top: 0;
        left: 22.5px;
        z-index: 11;
        background: var(--primary);
    }

    .content {
        padding: calc(var(--frame_vh)/2) var(--frame_vw);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nogrey .content {
        background-color: var(--secondary);
    }

    .grey .content {
        background-color: var(--background);
    }

    section {
        padding: calc(var(--frame_vh)*2) calc(var(--frame_vw)*2);
    }

    nav {
        padding: calc(var(--frame_vh)/2) calc(var(--frame_vw)*2);
        border-bottom: 1px solid var(--secondary);
    }

    footer {
        padding: calc(var(--frame_vh)/2) calc(var(--frame_vw)*2);
    }

    .box {
        background-color: var(--secondary);
        box-shadow: 0 8px 6px -6px var(--se);
        padding: calc(var(--frame_vh)/2) var(--frame_vw);
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: calc(var(--frame_vh)/2) var(--frame_vw);
    }
}

/* tablet horizontal */

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    #hamburger {
        visibility: hidden;
        display: none;
    }

    #menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 25px;
    }

    #menu i {
        width: 25px;
    }

    #menu a:hover {
        color: var(--primary);
    }

    .timeframe {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "left ."
            ". right";

        position: relative;
    }

    .left {
        grid-area: left;
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 10px;
        gap: var(--frame_vh) var(--frame_vw);
        z-index: 22;
        margin-right: -30px;
    }

    .right {
        grid-area: right;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        gap: var(--frame_vh) var(--frame_vw);
        z-index: 22;
        margin-left: -30px;
    }

    .date {
        width: 60px;
        height: 60px;
        min-width: 60px;
        min-height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary);
        color: var(--background);
    }

    .content {
        padding: calc(var(--frame_vh)/4) calc(var(--frame_vw)/2);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .border {
        position: absolute;
        height: 100%;
        width: 10px;
        top: 0;
        left: calc(50% - 5px);
        z-index: 11;
        background: var(--primary);
    }

    .nogrey .content {
        background-color: var(--secondary);
    }

    .grey .content {
        background-color: var(--background);
    }

    section {
        padding: calc(var(--frame_vh)*3) calc(var(--frame_vw)*3);
    }

    nav {
        padding: calc(var(--frame_vh)*1) calc(var(--frame_vw)*3);
        border-bottom: 1px solid var(--secondary);
    }

    footer {
        padding: calc(var(--frame_vh)*1) calc(var(--frame_vw)*3);
    }

    .box {
        background-color: var(--secondary);
        box-shadow: 0 8px 6px -6px var(--se);
        padding: calc(var(--frame_vh)/4) calc(var(--frame_vw)/2);
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: calc(var(--frame_vh)*1) calc(var(--frame_vw)*1);
    }
}

/* desktop */

@media screen and (min-width: 1200px) and (max-width: 1919px) {
    #hamburger {
        visibility: hidden;
        display: none;
    }

    #menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 30px;
    }

    #menu i {
        width: 30px;
    }

    #menu a:hover {
        color: var(--primary);
    }

    .timeframe {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "left ."
            ". right";

        position: relative;
    }

    .left {
        grid-area: left;
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 10px;
        gap: var(--frame_vh) var(--frame_vw);
        z-index: 22;

        margin-right: -30px;
    }

    .right {
        grid-area: right;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        gap: var(--frame_vh) var(--frame_vw);
        z-index: 22;

        margin-left: -30px;
    }

    .date {
        width: 60px;
        height: 60px;
        min-width: 60px;
        min-height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary);
        color: var(--background);
    }

    .content {
        padding: calc(var(--frame_vh)/4) calc(var(--frame_vw)/2);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .border {
        position: absolute;
        height: 100%;
        width: 10px;
        top: 0;
        left: calc(50% - 5px);
        z-index: 11;
        background: var(--primary);
    }

    .nogrey .content {
        background-color: var(--secondary);
    }

    .grey .content {
        background-color: var(--background);
    }

    section {
        padding: calc(var(--frame_vh)*4) calc(var(--frame_vw)*4);
    }

    nav {
        padding: calc(var(--frame_vh)*1) calc(var(--frame_vw)*4);
        border-bottom: 1px solid var(--secondary);
    }

    footer {
        padding: calc(var(--frame_vh)*1) calc(var(--frame_vw)*4);
    }

    .box {
        background-color: var(--secondary);
        box-shadow: 0 8px 6px -6px var(--se);
        padding: calc(var(--frame_vh)/4) calc(var(--frame_vw)/2);
    }

    .wrapper {
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: calc(var(--frame_vh)*1) calc(var(--frame_vw)*1);
    }
}

/* large desktop */

@media screen and (min-width: 1920px) {
    #hamburger {
        visibility: hidden;
        display: none;
    }

    #menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 30px;
    }

    #menu i {
        width: 30px;
    }

    #menu a:hover {
        color: var(--primary);
    }

    .timeframe {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "left ."
            ". right";

        position: relative;
    }

    .left {
        grid-area: left;
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 10px;
        gap: var(--frame_vh) var(--frame_vw);
        z-index: 22;

        margin-right: -30px;
    }

    .right {
        grid-area: right;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        gap: var(--frame_vh) var(--frame_vw);
        z-index: 22;

        margin-left: -30px;
    }

    .date {
        width: 60px;
        height: 60px;
        min-width: 60px;
        min-height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary);
        color: var(--background);
    }

    .content {
        padding: calc(var(--frame_vh)/4) calc(var(--frame_vw)/4);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .border {
        position: absolute;
        height: 100%;
        width: 10px;
        top: 0;
        left: calc(50% - 5px);
        z-index: 11;
        background: var(--primary);
    }

    .nogrey .content {
        background-color: var(--secondary);
    }

    .grey .content {
        background-color: var(--background);
    }

    section {
        padding: calc(var(--frame_vh)*4) calc(var(--frame_vw)*4);
    }

    nav {
        padding: calc(var(--frame_vh)*1) calc(var(--frame_vw)*4);
        border-bottom: 1px solid var(--secondary);
    }

    footer {
        padding: calc(var(--frame_vh)*1) calc(var(--frame_vw)*4);
    }

    .box {
        background-color: var(--secondary);
        box-shadow: 0 8px 6px -6px var(--se);
        padding: calc(var(--frame_vh)/2) calc(var(--frame_vw)/2);
    }

    .wrapper {
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: calc(var(--frame_vh)*1) calc(var(--frame_vw)*1);
    }
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

#logo {
    width: 45px;
    height: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#lightbulb {
    cursor: pointer;
}

article:nth-child(even) {
    background-color: var(--secondary);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}

.icon {
    width: auto;
    height: 1.5rem;
}