/* grid */

html,
body {
  height: auto;
  width: 100vw;

  min-height: 100vh;
  min-width: 100vw;

  max-width: 100vw;

  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper {
  min-height: 100vh;
  width: 100vw;
  max-width: 1200px;
  border: 2px solid currentColor;
}

.scroller {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 333;

  text-align: center;

  height: 48px;
  width: 48px;
}

/* mobile & tablet */

@media (0px <=width <=1200px) {
  .wrapper {
    margin: 0 auto;
  }

  .wrapper > .content {
    padding: 1rem 1rem;
  }

  /* nav */

  .content > nav .row:first-of-type {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
  }

  .content > nav .row:last-of-type {
    width: 100%;
    padding: 0.5rem 0;
  }

  .content > nav .row .box.logo {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .content > nav .row .box.logo svg {
    height: 64px;
    width: 64px;
    fill: currentColor;
  }

  .content > nav .row .box.hamburger {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .content > nav .row .box.hamburger button {
    height: 48px;
    width: 48px;
  }

  .content > nav .row#nav {
    display: none;
  }

  .content > nav .row#nav.open {
    display: block;
  }

  .content > nav .row .box.main-menu .menu-item a {
    display: block;
    width: 100%;
    padding: 0.5rem 0;
  }

  .content > nav .row .box.main-menu .menu-item:first-of-type a {
    padding-top: 0;
  }

  .content > nav .row .main-menu .menu-item a {
    border-bottom: 1px solid currentColor;
  }

  .content > nav .row .main-menu .menu-item:last-of-type a {
    border-bottom: 0;
  }

  /* header */

  .content > header .row {
    height: 50vh;
    padding: 1rem 0;
  }

  .content > header .row .column {
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content > header .row .box.title {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content > header .row .box.title span {
    width: 100%;
  }

  .content > header .row .box.title span:nth-of-type(2) {
    padding-left: 1rem;
  }

  .content > header .row .box.title span:nth-of-type(3) {
    padding-left: 2rem;
  }

  /* main */

  .content > main {
    padding: 1rem 0;
  }

  .content > main .row {
    padding: 1rem 0;
  }

  /* aside */

  .content > aside .row .column {
    padding: 1rem 0;
  }

  .content > aside .row .column:first-of-type {
    border-bottom: 2px solid currentColor;
  }

  .content > aside .row .box.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .content > aside .row .box.contact a i {
    margin-right: 0.5rem;
  }

  .content > aside .row .box.address address {
    font-style: normal;
  }

  /* footer */

  .content > footer .row {
    padding-top: 1rem;
  }

  .scroller {
    bottom: calc(1rem - 6px);
    right: calc(1rem - 6px);
  }
}

/* laptop & desktops */

@media (width >=1201px) {
  .wrapper {
    margin: 2rem auto;
  }

  .wrapper > .content {
    padding: 1rem 2rem;
  }

  /* nav */

  .content > nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;

    height: 74.5px;
    width: 1132px;
    position: fixed;
    top: 0;
    z-index: 333;
  }

  #move {
    margin-top: calc(3rem + 2px);
  }

  .content > nav .row:first-of-type .column:last-of-type {
    display: none;
  }

  .content > nav .row .box.logo svg {
    height: 64px;
    width: 64px;
    fill: currentColor;
  }

  .content > nav .row:last-of-type .column:last-of-type {
    height: 100%;
  }

  .content > nav .row .box.main-menu {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }

  /* header */

  .content > header .row {
    height: 75vh;
    padding: 1rem 0;
  }

  .content > header .row .column {
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content > header .row .box.title {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content > header .row .box.title span {
    width: 100%;
  }

  .content > header .row .box.title span:nth-of-type(2) {
    padding-left: 1rem;
  }

  .content > header .row .box.title span:nth-of-type(3) {
    padding-left: 2rem;
  }

  /* main */

  .content > main {
    padding: 1rem 0;
  }

  .content > main .row {
    padding: 1rem 0;
  }

  /* aside */

  .content > aside .row .column {
    padding: 1rem 0;
  }

  .content > aside .row .column:first-of-type {
    border-bottom: 2px solid currentColor;
  }

  .content > aside .row .box.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .content > aside .row .box.contact a i {
    margin-right: 0.5rem;
  }

  .content > aside .row .box.address address {
    font-style: normal;
  }

  /* footer */

  .content > footer .row {
    padding-top: 1rem;
  }

  .scroller {
    bottom: calc(2rem - 6px);
    right: calc(2rem - 6px);
  }
}

/* box */

.content > main .box.work .item {
  padding: 0 1rem 1rem 1rem;

  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: auto;
  gap: 0.5rem;
}

.content > main .box.work .item .right span {
  display: block;
}

.content > main .box.education {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 1rem;
}

.content > main .box.education .item {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  border: 1px solid currentColor;
  padding: 1rem;
}
.content > main .box.education .item span:nth-of-type(2) {
  font-weight: bold;
}

.content > main .box.education .item span:last-of-type {
  margin-top: auto;
}

@media (width >=1001px) {
  .content > main .box.work {
    columns: 2;
    gap: 2rem;
  }

  .content > main .box.education {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
  }
}

.content > main .box.skillz .item {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto;
  gap: 1rem;
}

.content > main .box.skillz .item progress {
  width: 100%;
  height: 1rem;
  border: 1px solid currentColor;
}
