:root {
  --background: #121212;
  --headline: #f8f8f8;
  --text: #878787;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.scroller {
  font-size: 36px;
}

main a {
  text-decoration: none;
}

h6 {
  font-size: 1rem;
  letter-spacing: -0.75%;
  line-height: 150%;
  font-weight: bold;
  margin: 1.25rem 0;
  text-wrap: balance;
  text-wrap: pretty;
  hyphens: auto;
  overflow-wrap: break-word;
}

h5 {
  font-size: 1.125rem;
  letter-spacing: -1%;
  line-height: 140%;
  font-weight: bold;
  margin: 1.25rem 0;
  text-wrap: balance;
  text-wrap: pretty;
  hyphens: auto;
  overflow-wrap: break-word;
  text-decoration: underline;
  color: var(--headline);
}

h5 {
  font-size: 1.125rem;
  letter-spacing: -1%;
  line-height: 140%;
  font-weight: bold;
  margin-bottom: 1.25rem;
  text-wrap: balance;
  text-wrap: pretty;
  hyphens: auto;
  overflow-wrap: break-word;
  text-decoration: underline;
  color: var(--headline);
}

h4 {
  font-size: 1.25rem;
  letter-spacing: -1.25%;
  line-height: 130%;
  font-weight: bold;
  margin: 1.25rem 0;
  text-wrap: balance;
  text-wrap: pretty;
  hyphens: auto;
  overflow-wrap: break-word;
  color: var(--headline);
}

h3 {
  font-size: 1.56rem;
  letter-spacing: -1.5%;
  line-height: 120%;
  font-weight: bold;
  margin: 1.5rem 0;
  text-wrap: balance;
  text-wrap: pretty;
  hyphens: auto;
  overflow-wrap: break-word;
  text-decoration: underline;
  color: var(--headline);
}

h2 {
  font-size: 1.95rem;
  letter-spacing: -1.75%;
  line-height: 110%;
  font-weight: bold;
  margin: 1.5rem 0;
  text-wrap: balance;
  text-wrap: pretty;
  hyphens: auto;
  overflow-wrap: break-word;
  color: var(--headline);
  border-left: 0.5rem solid currentColor;
  padding-left: 0.5rem;
}

.content > main .box.work .item .left span:first-of-type {
  font-size: 1.95rem;
}

.content > header .row .box.title {
  font-size: 2.44rem;
  letter-spacing: -2%;
  line-height: 100%;
  font-weight: bold;
  text-wrap: balance;
  text-wrap: pretty;
  hyphens: auto;
  overflow-wrap: break-word;
  color: var(--headline);
}

.content > header .row .box.title span:last-of-type {
  font-size: 1.25rem;
  letter-spacing: -1.25%;
  line-height: 130%;
  font-weight: bold;
  text-wrap: balance;
  text-wrap: pretty;
  hyphens: auto;
  overflow-wrap: break-word;
  color: var(--text);
}

@media (0px <=width <=799px) {
  .content > header .row .box.title {
    font-size: 2.44rem;
  }

  .content > header .row .box.title span:last-of-type {
    font-size: 1.25rem;
  }
}

@media (800px <=width <=1200px) {
  .content > header .row .box.title {
    font-size: 2.94rem;
  }

  .content > header .row .box.title span:last-of-type {
    font-size: 1.75rem;
  }
}

@media (width >=1201px) {
  .content > header .row .box.title {
    font-size: 3.44rem;
  }

  .content > header .row .box.title span:last-of-type {
    font-size: 2.25rem;
  }
}

/* grid */

html,
body {
  background-image: url("../images/pattern.png");
  background-color: var(--background);
  color: var(--text);
}

.scroller {
  color: var(--text);
}

/* nav */

.content > nav {
  background-color: var(--background);
  color: var(--text);

  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
}

.content > nav .row .box.main-menu .menu-item a {
  color: var(--headline);
}

/* header */

.content > header .row {
  background-image: url("../images/wallpaper.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}

.content > header .row .box.title {
  color: var(--headline);
}

/* main */

.content > main {
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
}

.content > main .box.work details:open summary {
  background-color: var(--headline);
  color: var(--background);
}

.content > main .box.work details summary {
  background-color: var(--text);
  color: var(--background);
}

.content > main .box.education .item span:nth-of-type(2) {
  color: var(--headline);
}
/* aside */

.content > aside .row .box.contact {
  color: var(--headline);
}

.content > aside .row .box.address {
  color: var(--headline);
}

/* footer */

.content > footer {
  border-top: 2px solid currentColor;
}