/* fonts  */

body {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 150%;

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

@media (width >=1024px) {
  body {
    font-size: 16px;
  }
}

h6 {
  font-size: 1.25rem;
  letter-spacing: -0.75%;
  line-height: 150%;
  font-weight: bold;
  margin: 1.25rem 0;
  text-wrap: balance;

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}

h5 {
  font-size: 1.56rem;
  letter-spacing: -1%;
  line-height: 140%;
  font-weight: bold;
  margin: 1.25rem 0;
  text-wrap: balance;

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}

h4 {
  font-size: 1.95rem;
  letter-spacing: -1.25%;
  line-height: 130%;
  font-weight: bold;
  margin: 1.25rem 0;
  text-wrap: balance;

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}

h3 {
  font-size: 2.44rem;
  letter-spacing: -1.5%;
  line-height: 120%;
  font-weight: bold;
  margin: 1.5rem 0;
  text-wrap: balance;

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}

h2 {
  font-size: 3.05rem;
  letter-spacing: -1.75%;
  line-height: 110%;
  font-weight: bold;
  margin: 1.5rem 0;
  text-wrap: balance;

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}

h1 {
  font-size: 3.81rem;
  letter-spacing: -2%;
  line-height: 100%;
  font-weight: bold;
  margin: 0 0 2.5rem 0;
  text-wrap: balance;

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

:root {
  --background: #1c1c1c;
  --headline: #fefefe;
  --text: #e4e4e4;

  --border: #595b5e;
  --box: #3c3c3c;

  --primary: #ffc700;
  --secondary: #cc9f00;
  --tertiary: #970;
}

html,
body,
.wrapper,
.cover {
  background-color: var(--background);
  color: var(--text);
}

/* ############# COVER ############# */

@media (0px <=width <=1279px) {
  .cover > header {
    background-image: url("../images/thailand.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-right: 2px solid var(--border);
    filter: grayscale(0.5);
  }

  .cover > header .row .column h1 {
    background-color: var(--background);
    color: var(--text);
    border: 2px solid var(--border);
  }

  .cover > main .row .column .box-blog .blog-item {
    border: 2px solid var(--border);
    filter: grayscale(0.5);
  }

  .cover > main .row .column .box-blog .blog-item .blog-item-title {
    background-color: var(--box);
    border: 2px solid var(--border);
  }

  .cover > main .row .column .box-blog .blog-item .blog-item-title .blog-item-city {
    color: var(--primary);
    text-align: center;

    font-size: 1.56rem;
    letter-spacing: -1%;
    line-height: 140%;
    font-weight: bold;
    text-wrap: balance;

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
  }

  .cover > main .row .column .box-blog .blog-item .blog-item-title .blog-item-province {
    color: var(--secondary);
    text-align: center;

    font-size: 1.25rem;
    letter-spacing: -0.75%;
    line-height: 150%;
    font-weight: bold;
    text-wrap: balance;
  }
}

@media (width >=1280px) {
  .cover > header {
    background-image: url("../images/thailand.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-right: 2px solid var(--border);
    filter: grayscale(0.5);
  }

  .cover > header .row .column h1 {
    background-color: var(--background);
    color: var(--text);
    border: 2px solid var(--border);
  }

  .cover > main .row .column .box-blog .blog-item {
    border: 2px solid var(--border);
    filter: grayscale(0.5);
  }

  .cover > main .row .column .box-blog .blog-item .blog-item-title {
    background-color: var(--box);
    border: 2px solid var(--border);
  }

  .cover > main .row .column .box-blog .blog-item .blog-item-title .blog-item-city {
    color: var(--primary);
    text-align: center;

    font-size: 1.56rem;
    letter-spacing: -1%;
    line-height: 140%;
    font-weight: bold;
    text-wrap: balance;

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
  }

  .cover > main .row .column .box-blog .blog-item .blog-item-title .blog-item-province {
    color: var(--secondary);
    text-align: center;

    font-size: 1.25rem;
    letter-spacing: -0.75%;
    line-height: 150%;
    font-weight: bold;
    text-wrap: balance;
  }
}

/* ############# WRAPPER ############# */

@media (0px <=width <=1279px) {
  .wrapper > header {
    border-bottom: 2px solid var(--border);
  }
  .wrapper > header .row .column .box-header .header-city {
    color: var(--primary);
  }

  .wrapper > header .row .column .box-header .header-province {
    color: var(--secondary);
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: -0.75%;
    line-height: 150%;
    font-weight: bold;
    text-wrap: balance;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
  }

  .wrapper > main .row .column a {
    color: var(--primary);
  }

  .wrapper > footer {
    border-top: 2px solid var(--border);
  }

  .wrapper > footer .row .column .box-theme {
    color: var(--primary);
    text-align: center;
  }
}

@media (width >=1280px) {
  .wrapper > header {
    border-bottom: 2px solid var(--border);
  }

  .wrapper > header .row .column .box-header .header-city {
    color: var(--primary);
  }

  .wrapper > header .row .column .box-header .header-province {
    color: var(--secondary);
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: -0.75%;
    line-height: 150%;
    font-weight: bold;
    text-wrap: balance;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
  }

  .wrapper > main .row .column a {
    color: var(--primary);
  }

  .wrapper > footer {
    border-top: 2px solid var(--border);
  }

  .wrapper > footer .row .column .box-theme {
    color: var(--primary);
    text-align: center;
  }
}

/* ############# SPECIAL ############# */

.body-scroller {
  background-color: var(--background);
  color: var(--primary);
}
