/* FONTS */

html {
  font-size: 16px;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
}

/* TAGS */

html {
  scroll-behavior: smooth;
  user-select: none;
}

body {
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header"
    "nav main";
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px;
  grid-area: header;
}

header section {
  display: flex;
  align-items: center;
}

header .material-icons {
  padding: 0 7px;
  cursor: pointer;
}

/* NAV */

/* phones */
@media (width <=767px) {
  nav {
    display: none;
  }
}

/* tablets */
@media (768px <=width <=1279px) {
  nav {
    height: calc(100vh - 70px);
    display: flex;
    width: max-content;
    overflow-y: hidden;
    grid-area: nav;
  }

  nav section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  nav section a {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  nav section a:hover {
    cursor: pointer;
  }

  nav .material-icons {
    padding: 0 7px;
    cursor: pointer;
  }

  nav hr {
    width: 100%;
    height: 1px;
    border: none;
  }

  nav section a {
    padding: 12px 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  nav section a > span {
    display: none;
  }
}

/* laptops */
@media (1280px <=width <=1919px) {
  nav {
    height: calc(100vh - 70px);
    display: flex;
    width: max-content;
    overflow-y: hidden;
    grid-area: nav;
  }

  nav section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  nav section a {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  nav section a:hover {
    cursor: pointer;
  }

  nav .material-icons {
    padding: 0 7px;
    cursor: pointer;
  }

  nav hr {
    width: 100%;
    height: 1px;
    border: none;
  }

  nav section a {
    padding: 12px 0;
    padding-left: 15px;
    padding-right: 22px;
  }
}

/* desktops */
@media (width >=1920px) {
  nav {
    height: calc(100vh - 70px);
    display: flex;
    width: max-content;
    overflow-y: hidden;
    grid-area: nav;
  }

  nav section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  nav section a {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  nav section a:hover {
    cursor: pointer;
  }

  nav .material-icons {
    padding: 0 7px;
    cursor: pointer;
  }

  nav hr {
    width: 100%;
    height: 1px;
    border: none;
  }

  nav section a {
    padding: 12px 0;
    padding-left: 15px;
    padding-right: 22px;
  }
}

/* MAIN */

main {
  height: calc(100vh - 70px);
  grid-area: main;
  padding: 22px;
}

main img {
  border-radius: 12px;
}

main a {
  text-decoration: none;
}

main figure {
  margin-bottom: 0;
}

main figure figcaption {
  margin-bottom: 0;
}

/* phones */
@media (width <=767px) {
  .videos {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
}

/* tablets */
@media (768px <=width <=1279px) {
  .videos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 22px;
  }
}

/* laptops */
@media (1280px <=width <=1919px) {
  .videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 22px;
  }
}

/* desktops */
@media (width >=1920px) {
  .videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 22px;
  }
}

/* COLORS */

html {
  background-color: #ffffff;
  color: #282828;
}

header .material-icons {
  color: #646464;
}

nav .material-icons {
  color: #646464;
}

nav a.active {
  background: #e5e5e5;
}

nav a:hover {
  background: #e5e5e5;
  cursor: pointer;
}

nav hr {
  background-color: #e5e5e5;
}

main {
  background-color: #f9f9f9;
}
