/* THEMES */

.theme-light {
  --background-color: rgba(229, 229, 229, 1);
  --foreground-color: #121212;
  --shadow-color: rgba(166, 150, 151, 1);
  --primary-color: rgba(170, 3, 18, 1);

  --background-opacity: rgba(229, 229, 229, 0.9);
}

.theme-dark {
  --background-color: rgba(18, 18, 18, 1);
  --foreground-color: rgba(255, 255, 255, 1);
  --shadow-color: rgba(166, 150, 151, 1);
  --primary-color: rgba(170, 3, 18, 1);

  --background-opacity: rgba(18, 18, 18, 0.96);
}

/* FONTS */

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../fonts/Roboto-Regular.ttf");
}

html {
  font-size: calc(14px + 0.390625vw);
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  text-decoration: overline;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
  font-weight: bold;
}

h4 {
  font-size: 1.12rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

h5 {
  font-size: 0.83rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

h6 {
  font-size: 0.75rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

/* TAGS */

html {
  scroll-behavior: smooth;
  user-select: none;
}

body {
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper {
  min-height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

/* MEDIA QUERIES */

/* phones & tablets */
@media (width <=767px) {
  header .row.first,
  header #menu {
    padding-top: 1rem;
  }

  header .row.second {
    padding-top: 2rem;
  }

  main .row,
  aside .row,
  footer .row {
    padding: 2rem 0;
  }

  header .row.first .column:first-of-type {
    width: 90vw;
    max-width: 1280px;
    margin: auto;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  header .row.second {
    width: 90vw;
    max-width: 1280px;
    margin: auto;
  }

  main .row,
  aside .row,
  footer .row {
    width: 90vw;
    max-width: 1280px;
    margin: auto;
  }

  header .switch {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;
    padding: 4px;
    border-radius: 50%;
    border: 2px solid currentColor;

    cursor: pointer;
  }

  header .hamburger {
    position: relative;
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    margin-top: 2px;
  }

  header .hamburger span {
    display: block;
    position: absolute;
    height: 20%;
    width: 100%;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    background-color: currentColor;
  }

  header .hamburger span:nth-child(1) {
    top: 0px;
  }

  header .hamburger span:nth-child(2),
  header .hamburger span:nth-child(3) {
    top: 40%;
  }

  header .hamburger span:nth-child(4) {
    top: 85%;
  }

  header .hamburger.open span:nth-child(1) {
    top: 40%;
    width: 0%;
    left: 50%;
  }

  header .hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  header .hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  header .hamburger.open span:nth-child(4) {
    top: 40%;
    width: 0%;
    left: 50%;
  }

  header #menu {
    height: 0;
    overflow: hidden;
    transition: height ease-in-out 0.25s;
  }

  header #menu.open {
    display: block;
    height: 100%;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  nav a {
    padding: 0.75rem 5vw;
  }

  header .row.second .column {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 1rem;
  }

  main a {
    text-decoration: underline;
  }

  main .social {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
  }

  main figure.youtube iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border: none;
  }

  main figure.instagram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main .video {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
  }

  aside .row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
  }

  aside .map {
    width: 100%;
  }

  aside iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;

    overflow: hidden;
    border: none;
    pointer-events: none;
  }

  aside address {
    user-select: text;
  }

  aside address span {
    display: block;
  }

  footer .row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .row > *:last-child {
    margin-bottom: 0;
  }

  main .akademie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  main .times,
  main .price,
  main .career {
    background-color: none;
    color: var(--foreground-color);

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;

    padding: calc(1rem + 2px);
    outline: 2px solid var(--primary-color);
    outline-offset: calc(-1 * 2px);
    -webkit-mask: conic-gradient(at 50px 50px, #0000 75%, #000 0) 0 0 /
        calc(100% - 50px) calc(100% - 50px),
      linear-gradient(#000 0 0) content-box;
  }

  main .times svg,
  main .price svg {
    fill: var(--foreground-color);
    height: 75px;
  }
}

/* tablets */
@media (768px <=width <=1279px) {
  header .row.first,
  header #menu {
    padding-top: 1rem;
  }

  header .row.second {
    padding-top: 2rem;
  }

  main .row,
  aside .row,
  footer .row {
    padding: 2rem 0;
  }

  header .row.first .column:first-of-type {
    width: 90vw;
    max-width: 1280px;
    margin: auto;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  header .row.second {
    width: 90vw;
    max-width: 1280px;
    margin: auto;
  }

  main .row,
  aside .row,
  footer .row {
    width: 90vw;
    max-width: 1280px;
    margin: auto;
  }

  header .switch {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;
    padding: 4px;
    border-radius: 50%;
    border: 2px solid currentColor;

    cursor: pointer;
  }

  header .hamburger {
    position: relative;
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    margin-top: 2px;
  }

  header .hamburger span {
    display: block;
    position: absolute;
    height: 20%;
    width: 100%;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    background-color: currentColor;
  }

  header .hamburger span:nth-child(1) {
    top: 0px;
  }

  header .hamburger span:nth-child(2),
  header .hamburger span:nth-child(3) {
    top: 40%;
  }

  header .hamburger span:nth-child(4) {
    top: 85%;
  }

  header .hamburger.open span:nth-child(1) {
    top: 40%;
    width: 0%;
    left: 50%;
  }

  header .hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  header .hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  header .hamburger.open span:nth-child(4) {
    top: 40%;
    width: 0%;
    left: 50%;
  }

  header #menu {
    height: 0;
    overflow: hidden;
    transition: height ease-in-out 0.25s;
  }

  header #menu.open {
    display: block;
    height: 100%;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  nav a {
    padding: 0.75rem 5vw;
  }

  header .row.second .column {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    gap: 1rem;

    align-items: center;
    justify-content: center;
  }

  main a {
    text-decoration: underline;
  }

  main .social {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
  }

  main figure.youtube iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border: none;
  }

  main figure.instagram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main .video {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
  }

  aside .row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
  }

  aside .map {
    width: 100%;
  }

  aside iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;

    overflow: hidden;
    border: none;
    pointer-events: none;
  }

  aside address {
    user-select: text;
  }

  aside address span {
    display: block;
  }

  footer .row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .row > *:last-child {
    margin-bottom: 0;
  }

  main .akademie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  main .times,
  main .price,
  main .career {
    background-color: none;
    color: var(--foreground-color);

    width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;

    padding: calc(1rem + 2px);
    outline: 2px solid var(--primary-color);
    outline-offset: calc(-1 * 2px);
    -webkit-mask: conic-gradient(at 50px 50px, #0000 75%, #000 0) 0 0 /
        calc(100% - 50px) calc(100% - 50px),
      linear-gradient(#000 0 0) content-box;
  }

  main .times svg,
  main .price svg {
    fill: var(--foreground-color);
    height: 75px;
  }
}

/* laptops & desktops */
@media (width >=1280px) {
  header .row.first {
    padding: 2rem 0;
  }

  header .row.second {
    padding-top: 2rem;
  }

  main .row,
  aside .row,
  footer .row {
    padding: 4rem 0;
  }

  .row {
    width: 90vw;
    max-width: 1280px;
    margin: auto;
  }

  header .row.first {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  header .switch {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;
    padding: 4px;
    border-radius: 50%;
    border: 2px solid currentColor;

    cursor: pointer;
  }

  header .hamburger {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  header .row.second .column {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    gap: 1rem;

    align-items: center;
    justify-content: center;
  }

  main a {
    text-decoration: underline;
  }

  main .social {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
  }

  main figure.youtube iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border: none;
  }

  main figure.instagram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main .video {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
  }

  aside .row {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    align-items: center;
  }

  aside .map {
    width: 100%;
  }

  aside iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;

    overflow: hidden;
    border: none;
    pointer-events: none;
  }

  aside address {
    user-select: text;
  }

  aside address span {
    display: block;
  }

  footer .row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .row > *:last-child {
    margin-bottom: 0;
  }

  main .akademie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  main .times,
  main .price,
  main .career {
    background-color: none;
    color: var(--foreground-color);

    width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;

    padding: calc(1rem + 2px);
    outline: 2px solid var(--primary-color);
    outline-offset: calc(-1 * 2px);
    -webkit-mask: conic-gradient(at 50px 50px, #0000 75%, #000 0) 0 0 /
        calc(100% - 50px) calc(100% - 50px),
      linear-gradient(#000 0 0) content-box;
  }

  main .times svg,
  main .price svg {
    fill: var(--foreground-color);
    height: 75px;
  }
}

/* IMAGE-SLIDER */

.gallery {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  object-fit: contain;
}

.mySlides .text {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.mySlides .text span {
  background-color: var(--background-color);
  color: var(--foreground-color);
  padding: 0.75rem;
  border: 1px solid var(--primary-color);
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 1rem;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
  color: var(--primary-color);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* COLORS */

html {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

header {
  background: url(/img/background_3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 1px solid var(--shadow-color);
}

header section {
  background-color: var(--background-opacity);
  color: var(--foreground-color);
}

/* phones & tablets */
@media (width <=1279px) {
  nav {
    background-color: var(--foreground-color);
    color: var(--background-color);
  }

  nav a {
    border-bottom: 1px solid var(--shadow-color);
  }

  nav a:last-of-type {
    border-bottom: none;
  }
}

/* laptops & desktops */
@media (width >=1280px) {
  nav {
    background-color: none;
    color: var(--foreground-color);
  }
}

nav a:hover {
  color: var(--primary-color);
}

main section:nth-child(1) {
  background: rgb(125, 23, 44);
  background: linear-gradient(
    315deg,
    var(--primary-color) 0%,
    var(--primary-color) 33%,
    var(--background-color) 33%,
    var(--background-color) 100%
  );
  color: var(--foreground-color);
}

main {
  background: url(/img/background_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main section:nth-child(2) {
  background-color: var(--background-opacity);
  color: var(--foreground-color);
}

main section:nth-child(3) {
  background: rgb(125, 23, 44);
  background: linear-gradient(
    315deg,
    var(--primary-color) 0%,
    var(--primary-color) 33%,
    var(--background-color) 33%,
    var(--background-color) 100%
  );
  color: var(--foreground-color);
}

main section:nth-child(4) {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

main section:nth-child(5) {
  background-color: var(--primary-color);
  color: var(--foreground-color);
}

main a {
  color: var(--shadow-color);
}

main section {
  border-bottom: 1px solid var(--shadow-color);
}

aside {
  background-color: var(--background-color);
  color: var(--foreground-color);
  border-bottom: 1px solid var(--shadow-color);
}

footer {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

footer a:hover {
  color: var(--primary-color);
}
